*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    background-color: rgb(241, 117, 8);
    
    
}

.left{
    display: flex;
    width: 25%;
    justify-content: flex-end;
    align-items: center;
}

.gender a,.right a{
    text-decoration: none;
    color: white;
}

.center{
    display: flex;
    padding: 1rem;
    width: 50%;
    justify-content: center;
    color: white;
}

.logo{
    width: 20%;
}

.right{
    display: flex;
    width: 25%;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.right i{
    padding-right: 0.5rem;
}

/*main*/
.main-container{
    max-width: 80%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.card
{
   
    width: 30%;
    margin-top: 3rem ;  
}

.image{
    width: 100%;
    position: relative;
}

.heart{
    width: 2rem ;
    background-color: white;
    padding: .5rem;
    position: absolute;
    top: 1rem;
    right: 0px;
}
 .heart a{
    color: black;
 }
.heart a:hover{
    color: red;
}

.red{
    width: 2.5rem;
    padding: .1rem;
    background-color: red;
    color: white;
    text-align: center;
    position: absolute;
    top: 370px;
    left: 0px;
}

.green{
    width: 5.5rem;
    padding: .1rem;
    background-color: green;
    color: white;
    text-align: center;
    position: absolute;
    top: 370px;
    left: 45px;
}

.green.onlygreen{
    position: absolute;
    top: 370px;
    left: 0px;
}

.text{
    font-size: small;
}
.name{
    font-weight: 800;
}

.price{
    display: flex;
}

.price .sale{
    color: red;
    font-weight: 800;
}
.price .nosale{
    text-decoration-line: line-through;
}

